<div class='span-24'>
	<div class='span-24'>
		<div class='span-2 menu-button menu-color'>
			<div class='menu-icon'>
				<%= link_to ibtrs_path do -%>
					<%= image_tag 'IBT.png' %>
				<% end -%>
			</div>
			<div class='span-1 menu-text'>
				IBT
			</div>
		</div>
	</div>
	<div class='span-24' style='height:10px'>		
	</div>
	<div class='span-24'>	
			<div class='span-1 menu-button menu-color'>
				<div class='menu-icon'>
					<%= link_to :controller => 'plans', :action => 'index', :signUpMonths => 1 do -%>
						<%= image_tag 'SignUp.png' %>
					<% end -%>
				</div>
				<div class='span-1 menu-text'>
					New Member
				</div>
			</div>
		</div>
	</div>
</div>