<div class="span-4 colborder">
	<br/>
</div>

<div class="span-13 colborder">
	<%= will_paginate(@transferRequests) %>
	<hr/>
	<%= render :partial => "transferRequest", :collection => @transferRequests %>
</div>

<div class="span-4">
	<br/>
</div>