<div class="span-4 colborder">
	<br/>
</div>

<div class="span-13 colborder">
	<%= will_paginate(@ibts) %>
	<hr/>
	<%= render :partial => "ibtr", :collection => @ibts %>
</div>

<div class="span-4">
	<br/>
</div>